{% extends 'base.html.twig' %}

{% block title %}New Ocupacion{% endblock %}

{% block body %}
    <h1>Create new Ocupacion</h1>

    {{ include('ocupacion/_form.html.twig') }}

    <a href="{{ path('app_ocupacion_index') }}">back to list</a>
{% endblock %}
