{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>
	<br>


	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Altura</th>
				<th>Peso</th>
			</tr>
		</thead>
		<tbody>
			{% for dato in datos %}
				<tr>
					<td>{{dato.name }}</td>
					<td>{{dato.height }}</td>
					<td>{{dato.mass }}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
