{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
  
	<h2>Recuperacion de un objeto desde .NET</h2>

	<br>
  
  <h6>Nombre:
		{{ epms.name }}</h6>
	<br>
	<h6>Descripcion:
		{{ epms.description }}</h6>
	<br>
	<h6>Edad:
		{{ epms.edad }}</h6>
	<br>
  	<h6>Fecha:
		{{ epms.time }}</h6>
	<br>
{% endblock %}
