{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
	<H1>Programa de televisión español: Sálvame </H1>
  <table class="table">
    <thead>
     <tr>
      <th>Nombre</th>
      <th>Apellido</th>
     </tr>
    </thead>
  <tbody>
     {% for e in datosPrograma %}
     <tr>
      <td>{{ e.nombre }}</td>
      <td>{{ e.apellido }}</td>

     </tr>
     {% endfor %}
    </tbody>
</table>
{% endblock %}
