{% extends 'base.html.twig' %}

{% block body %}

	<br>
	<br>
	<br>
	<br>


	<form method="post" action="{{ path('multiples') }}">

		<div>
			Número 1:
			<input type="text" name="numero1"/>
		</div>
		<div>
			Número 2:
			<input type="text" name="numero2"/>
		</div>
		<br>
		<br>
		<div>
			<button type="submit" name="operacion" value="sumarNumeros">
				Sumar números
			</button>
			<button type="submit" name="operacion" value="multiplicarNumeros">
				Multiplicar números
			</button>
		</div>
	</form>
	{% if resultado is defined %}
		<h2 style='color:red'>La
			{{operacion}}
			de los números es:
			{{resultado}}
		</H2>
	{% endif %}

{% endblock %}
